@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Global Tags  */

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 86);
}

span {
    font-size: 0.9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* Navigation */

nav {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 6vw;
    /* border: 2px solid #002d56; */
    background-color: azure;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

nav img {
    width: 140px;
    cursor: pointer;
    border-radius: 50%;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li {
    list-style-type: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: #002d56;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color: rgb(204 151 8);
}

/* Home */

#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/img-home.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

#home h2 {
    color: aliceblue;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

#home p {
    width: 50%;
    color: aliceblue;
    font-size: 1rem;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 1px;
}

#home .btn {
    margin-top: 30px;
}

#home a {
    text-decoration: none;
    font-size: 1rem;
    padding: 12px 36px;
    background-color: aliceblue;
    font-weight: 600;
    border-radius: 10px;
    margin: 10px;
}

#home a.blue {
    color: aliceblue;
    background-color: darkmagenta;
    transition: 0.3s ease;
}

#home a.blue:hover {
    color: aliceblue;
    background-color: dodgerblue;
}

#home a.yellow {
    color: aliceblue;
    background-color: darkcyan;
    transition: 0.3s ease;
}

#home a.yellow:hover {
    color: aliceblue;
    background-color: green;
}

/* Features */

#features {
    padding: 5vw 6vw 0 6vw;
    text-align: center;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.2rem;
    margin-top: 50px;
}

#features .fea-box {
    background: azure;
    text-align: start;
    padding: 20px;
}

#features .fea-box i {
    font-size: 2.3rem;
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 14px 0 8px 0;
    letter-spacing: 1px;
}

#features .fea-box p {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}